
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The secure track page">
		<meta name="author" content="Robert Ashfield">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		  <h1>{{trackName}}</h1>
		  <a href="/logout">Log out</a>
      <a href="/home">Home</a>
		</header>
		{{#if msg}}
      <aside>
				<p class="msg">{{msg}}</p>
      </aside>
		{{/if}}
		<main>
      
		</main>
	</body>
</html>
