
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The secure upload page">
		<meta name="author" content="Robert Ashfield">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		  <h1>Upload Your Tracks</h1>
		  <a href="/logout">Log out</a>
      <a href="/home">Home</a>
		</header>
		{{#if msg}}
      <aside>
				<p class="msg">{{msg}}</p>
      </aside>
		{{/if}}
		<main>
      <section>
        <h2 class="uploadHeader">Select your tracks to upload</h2>
        <form method="post" action="/upload" enctype="multipart/form-data">
          <label for="tracksInput" class="stdBTN">Choose your tracks</label>
          <input type="file" id="tracksInput" name="tracksInput" accept="audio/mpeg"/>
          <label for="submitTracks" class="stdBTN">Upload selected tracks</label>
          <input type="submit" id="submitTracks"/>
        </form>
        <p>You have no selected tracks to upload.</p>
      </section>
		</main>
	</body>
</html>
